@import 'react-datetime-picker/dist/DateTimePicker.css';
@import 'react-calendar/dist/Calendar.css';
@import 'react-clock/dist/Clock.css';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(121, 189, 237, 0.05);
}

a {
    color: #401d78;
}

button {
    color: #401d78;
}

.header-a {
    font-size: 1.7rem;
    font-weight: 300;
    text-shadow:
        1px 1px 5px rgba(66, 135, 245, 0.6),
        0 0 19px rgba(66, 135, 245, 0.7),
        1px 1px 3px rgba(255, 3, 158, 0.8);
}

a:link,
a:visited {
    text-decoration: none;
}

.header-link {
    border-radius: 1.5px;
    padding: 0 7px;
    transition: 450ms;
}

.header {
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(222, 225, 255, 0.8);
    box-shadow: 0px 1.3px 7px 2.5px rgba(0, 0, 255, 0.2);
    border: 0.5px solid rgba(66, 135, 245, 0.38);
    margin: 1rem 12rem;
    border-radius: 7px 7px 13px 13px;
}

.header-image {
    transition: 300ms;
}

.header-image:hover {
    transform: scale(1.05) translateY(-1px);
}

.header-link:hover {
    transform: scale(1.1) translateY(-2px);
    border-radius: 10px;
    box-shadow: 0px 2.3px 2px 2.5px rgba(0, 0, 255, 0.2);
}

.active {
    color: rgba(30, 109, 235, 0.99);
}

.main-container {
    display: flex;
    border-radius: 5px;
    margin: 0 22rem;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.embla {
    padding: 10px;
    border-radius: 6px;
    border: 1.3px solid rgba(54, 49, 61, 0.2);
    width: 27rem;
    height: 17rem;
    max-height: 28rem;
    --slide-spacing: 3rem;
    --slide-size: 68%;
}

.embla_viewport {
    overflow: hidden;
}

.embla_container {
    backface-visibility: hidden;
    display: flex;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla_slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}

.embla_controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 1rem;
    margin-top: 1.3rem;
}

.embla_buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
}

.embla_button {
    background-color: transparent;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.1rem rgb(99, 94, 105);
    width: 2.1rem;
    height: 2.1rem;
    z-index: 1;
    border-radius: 50%;
    color: rgb(54, 49, 61);
    display: flex;
    align-items: center;
    justify-content: center;
}

.embla_button:disabled {
    color: rgb(49, 49, 49);
}

.embla_button_svg {
    width: 35%;
    height: 35%;
}

.embla_dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla_dot {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.embla_dot:after {
    box-shadow: inset 0 0 0 0.2rem rgb(204, 204, 204);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: "";
}

.embla_dot-selected:after {
    box-shadow: inset 0 0 0 0.2rem rgba(60, 55, 61, 0.9);
}

.new_order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 470px;
    border: 1.3px solid rgba(54, 49, 61, 0.2);
    border-radius: 6px;
}

.title_new_order {
    font-size: 2.2rem;
    font-weight: 300;
    text-align: center;
}

.logo_new_order {
    align-self: center;
    width: 22rem;
    height: 17rem;
}

.btn_new_order {
    width: 7rem;
    padding: 3px 8px;
}

.secondary-container {
    display: flex;
    margin: 0 22rem;
    margin-top: 1rem;
    justify-content: space-evenly;
}

.search_order {
    display: flex;
    border-radius: 6px;
    border: 1.3px solid rgba(54, 49, 61, 0.2);
    height: 14rem;
    width: 26rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.title_search_order {
    font-size: 1.7rem;
    text-align: center;
    line-height: 1rem;
}

.text_search_order {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1rem;
    margin-bottom: 0.7rem;
}

.form_search_order {
    text-align: center;
}

.label_search {
    display: block;
}

.btn_search_order {
    align-self: center;
    padding: 3px 7px;
    margin-top: 2rem;
    width: 6rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.dish_one {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    grid-column: 3/5;
}

.image {
    object-fit: fill;
    border: 2px solid rgba(32, 17, 54, 0.3);
    border-radius: 6px;
    padding: 2px;
    margin: 2px;
}

.dish_img {
    border-radius: 6px;
    border: 1px solid rgba(54, 49, 61, 0.2);
    margin-bottom: 1rem;
}

.dish_name {
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
    font-weight: 200;
    max-width: 450px;
}

.ingredients {
    font-weight: 200;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
}

.ingredient {
    list-style-type: none;
    text-align: center;
    padding-bottom: 5px;
}

.btn_new_dish {
    display: flex;
    justify-content: flex-end;
}

.continue_container {
    border: 1px solid rgba(54, 49, 61, 0.2);
    text-align: center;
    width: 20rem;
    border-radius: 1rem;
}

.selected_meal {
    font-size: 1.25rem;
    font-weight: 300;
    padding-top: 10px;
}

.selected_meal_name {
    font-size: 1.18rem;
    display: block;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 7px;
}

.next_step_text {
    font-weight: 300;

}

.btn_to_drinks_container {
    display: flex;
    justify-content: center;
    margin: 9px 0;
}

.btn_to_drinks {
    padding: 2px 6px;
}

.drinks_wrapper {
    max-width: fit-content;
}

.container_two {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.drink_one {
    grid-column: 3/3;
}

.drink_two {
    grid-column: 4/4;
    margin-left: 1rem;
}

.drinks_container {
    display: grid;
    grid-template-columns: 200px 200px;
}

.single_drink {
    background: none;
	color: inherit;
    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-bottom: 1.3rem;
    object-fit: fill;
    display: flex;
    justify-content: center;
}

.counter {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.amount {
    display: flex;
    margin: 0 1rem;
    align-self: center;
    font-size: 1.8rem;
    font-weight: 200;
}

.none {
    color: transparent;
    outline: none;
    border: none;
    background: none;
}

.ppl_next {
    height: 2rem;
}

.ppl_prev {
    height: 2rem;
}

.inline {
    display: inline;
    margin: 10px;
}

.order_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.calender_container {
    grid-column: 2/2;
    width: 20rem;
}

.number_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Sample__container__content {
    display: flex;
    flex-direction: column;
}

.counter_title {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.number {
    font-size: 2rem;
    font-weight: 200;
}

.btn_container {
    display: flex;
    justify-content: center;
}

.btn_cal {
    width: 10rem;
    margin-top: 1rem;
}

.email_container {
    display: flex;
    justify-content: center;
}

.email_container > form:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email_container > form:nth-child(1) > label:nth-child(1) {
    text-align: center;
}

html body.__className_aaf875 div.order_container div.email_container form input#email {
    width: 13rem;
}

.email_container > form:nth-child(1) > button:nth-child(3) {
   width: 8rem; 
}
